@model BookCatalog.Dtos.BookDto

<div>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Title</th>
            <th scope="col">Author</th>
            <th scope="col">Publisher</th>
            <th scope="col">Pub. Date</th>
            <th scope="col">Genre</th>
            <th scope="col">ISBN code</th>
            <th scope="col">Status</th>
      
          </tr>
        </thead>
        <tbody>
            @foreach (var @book in @Model.ReturnedBooks)
              {
              <tr>
                <td>@book.Title</td>
                <td>@book.Author</td>
                <td>@book.Publisher</td>
                <td>@book.PublishingDate</td>
                <td>@book.Genre</td>
                <td>@book.ISBNCode</td>
                <td>@book.IsAvailable</td>
                @*<td>@Html.ActionLink("Borrow", "Update", "Book", new { id = @book.Id}, new { @class = "btn btn-primary"})</td>*@
              </tr>
              }
        </tbody>
     </table>
</div>